body, html{margin: 0; padding: 0; border: 0; box-sizing: border-box;}

body, .container-fluid{
  background-color: #f7f7f7;
}
/*INICIO - FONTS*/
  
  @font-face {font-family:coolveticaCompressed; src:url(../fonts/coolveticacompressedrg.ttf);}

  @font-face {font-family:coolveticaCondensed; src:url(../fonts/coolveticacondensedrg.ttf);}

  @font-face {font-family:coolveticaCrammed; src:url(../fonts/coolveticacrammedrg.ttf);}
  
  @font-face {font-family:coolvetica; src:url(../fonts/coolveticarg.ttf);}
  
  @font-face {font-family:montserratRegular; src:url(../fonts/Montserrat-Regular.ttf);}

/* FIN - FONTS */

/* INICIO - ESTILOS GENERALES */

  /*BORDE DE CONTENEDOR*/
  .borderVioleta{border: 2px solid #8f599f;} 
  .borderVerde{border: 2px solid #1BBB9A;}

  /*TEXTO - COLOR */
  .colorVioleta{color: #8f599f!important;}
  .colorVerde{color: #1BBB9A!important;}
  .colorBlanco{color: white!important;}
  .colorGris{color: #7E8B8C!important;}

  /*TEXTO - DESTACADO */
  .importante{font-size: 1.15rem; font-weight: bold;}
  .medio{font-size: 1rem; font-weight: bold;}
  .minimo{font-size: .85rem; font-weight: bold;}

  /*LINEA SEPARADORA */
  .hrVioleta hr, .hrcolor {height: 1px; border: 0; _color: #8f599f; background-color: #8f599f;}
  .hrVerde hr, .hrcolor {height: 1px; border: 0; color: #1BBB9A; background-color: #1BBB9A;}

  /*HIPERVINCULOS */
  .noDecoration{text-decoration: none;}

  /*FUENTES */
  .fontPrimary{font-family: coolvetica!important;}
  .fontSecondary{font-family: montserratRegular!important;}

  /* BOTONES */
  .buttonPrimary{background-color: #8f599f; color: white;border: 2px solid #8f599f; font-family: coolvetica; font-size: 1.1rem; }
  .buttonPrimary:hover{background-color: white; color: #8E44AC;border: 2px solid #8E44AC;}
  .buttonSecondary{background-color: #1BBB9A; color: white;border: 2px solid #1BBB9A; font-family: coolvetica; font-size: 1.1rem; }
  .buttonSecondary:hover{background-color: white; color: #1BBB9A;border: 2px solid #1BBB9A;}
/* FIN - ESTILOS GENERALES */

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.container-menu{
  background-color: brown;
}

.container-lateral{
  background-color: white;
  overflow-y: scroll;
  align-items: center;
  justify-content: first baseline;
  display: inline-flex;
}

.footer{
  _background-color: #EBE2FF;
  _tbackground-color: #1BBB9A;
  _background-color: #8E44AC;
  background-color: #5c3289;
  padding-top: 12px;
  padding-bottom: 7px;
  _padding-right: 15px;
  padding-left: 15px;
}

.bienvenida-imagen{
  z-index: -10000;
}
.bienvenida-imagen, .bienvenida-texto{
  position: absolute;
}

.contenedor-principal{
  height: 100vh;
  display:flex;
  justify-content: center;
  align-content: center;
  _padding-left: 30px;
  _padding-right: 30px;
  padding-left: 0;
  padding-right: 0;
}

/* body{
  _background-image: url(../img/background.svg);
  background-image: url(../img/backgroundCut.svg);
  background-repeat: no-repeat;
  _max-width: 1366px;
  background-position: bottom left; */
}

.imgFondo{
  width: 110%;
  z-index: -200;
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.imgFondo img{
  width: 100%;
  _top: 150px;
  position: absolute;
  right: 0;
}

.container-fluid{
  position: fixed;
  z-index: 100;
}
@media screen and (min-width: 1366px) {
  /* body{
    background-image: url(../img/backgroundCut.svg);
  } */
  .imgFondo{
    width: 100%;
    z-index: -200;
    _background-color: green;
  }
  .imgFondo img{
    width: 100%;
    top: 0px;
    position: absolute;
    
  }
  .contBotDer{
    margin-bottom: 0px;
  }
  
  .contDer{
    align-content: center!important;
    padding-top: 0!important;
    _background-color: red;
  }
  .lateralMain{
    height: 85vh!important;
  }
  
}

.navbar-brand{
  font-family: coolvetica;
  font-weight: 400;
}

#nav-tabContent{
  
  height: 70vh;
  overflow-y: scroll;
  _display: flex;
  _align-content: center;
  _justify-content: center;
  _flex-wrap: wrap;
  _margin-top: 55px;
  _margin-bottom: 55px;
  _background-color: white;
  background-color: #F5F1FF;
  border-radius: .25rem;
  padding:0;
  _padding-left:0;
  display: flex;
  justify-content: flex-start;


}

.cont-info{
  overflow-y: scroll;
  display: flex;
}



video{
  width: 100%;
}

.cont-menu{
  display: flex;
  align-content: flex-start;
  justify-content: left;
  flex-wrap: wrap;
  padding-right: 10px;
  position: static;
}

.navbar{
  background-color: #1BBB9A!important;
}

.footerDerecho{
  display: flex;
  justify-content: flex-end;
  padding-right: 0px;
}

.list-group-item {
  padding: .45rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 0px solid rgba(0,0,0,.125);
  font-size: .9rem;
  font-family: montserratRegular;
  _font-family: coolvetica;
  font-weight: 500;
  border-radius: 0px!important;
  display: flex;
  align-items: center;
}

/* .radiusLast{
  border-bottom-left-radius: .45rem!important;
  border-bottom-right-radius: .45rem!important;
}
.radiusFirst{
  border-top-left-radius: .45rem!important;
  border-top-right-radius: .45rem!important;
  
} */

.list-group-item.active {
  color: #8f599f;
  background-color: white!important;
  border-right: 3px solid #8E44AC!important;
  font-weight: bolder!important;
  font-size: .9rem;
  font-family: montserratRegular;
  border: 0px solid #8E44AC;!important;

}

.list-group a{
  text-decoration: none;
}

#videoFondo{
  width: 100%;
  height: 100%;
  z-index: -99999999;
  position: fixed;
  top:100;
  left: 0;
  _text-align: center;
  background-size: cover;
}

.contIzq{
  height: 100vh;
  display: flex;
  align-items: flex-end;
  padding-bottom: 145px;
  _background-color: blue;
}



.contIzq img{
  width: 95%;
}

.contDer{
  _background-color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  width: max-content;
  align-content: flex-start;
  padding-top: 100px;
  align-items: center;
}

.contDerCentro{
  _background-color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  width: max-content;
  align-content: flex-start;
  padding-top: 190px;
  align-items: center;
  padding-left: 40px;
}


.contDer a, .contDer h6, .contDer h3,.contDer button{
  text-align: left;
}
.contDerCentro a, .contDerCentro h6, .contDerCentro h3,.contDerCentro button{
  text-align: left;
}


h6{
  font-family: montserratRegular;
  color: #7E8B8C;
  font-weight: bold;
  font-size: 1rem!important;
  text-align: center;
}

.contDer h6, .contDerCentro h6{
  padding-top: 15px;
}

.contDer button, .contDerCentro button{
  margin-top: 15px;
}


.contIconsGral{
  margin-top: 25px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  margin-bottom: 100px;
  _background-color: red;
  margin-left: -60px;
}

.contIconsGral a, .contIconsGral2 a{
  display: flex;
  justify-content: center;
  _align-content: center;
  align-items: center;
  text-decoration: none;
  color: green;
  text-align: center;
}

.contIconsGral h4{
  color: white;
  font-family: coolvetica;
  font-weight: 400;
  font-size: 30px;
}
.contIcons, .contBotones{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-content: left;

}

.contBotones{
  padding-top: 30px;
  margin-left: -30px;
}


.contBotDer{
  display: flex;
  justify-content: flex-start;
  padding-top: 0px;
  _margin-bottom: 80px;
}

.contBotIzq{
  display: flex;
  justify-content: flex-end;
  _padding-top: 50px;
  margin-bottom: 65px;
}

.contBotones{
  padding-top: 30px;
}


.tarjetaContenedor{
  _border: 1px solid rgba(0,0,0,.125);
  padding: 25px;
  background-color: white;
  margin-bottom: 40px;
  border-radius: .45rem;  
  -webkit-box-shadow: 5px 5px 20px 1px rgba(237,237,237,1);
  -moz-box-shadow: 5px 5px 20px 1px rgba(237,237,237,1);
  box-shadow: 5px 5px 20px 1px rgba(237,237,237,1);
}



.tarjetaTitulo{
  padding-top: 20px;
  padding-left: 15px;
}

.tarjetaTitulo h3{
  font-family: coolvetica;
  color: #7E8B8C;
  text-align: left;
  font-size: 1.5rem;
}

.tarjetaMain{
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
}

.tarjetaMain p, .tarjetaMain li{
  font-family: montserratRegular;;
  color: #7E8B8C;
  text-align: center;
  text-align: left;
  font-size: 1rem;
}
.navegador{
  padding-top: 5px;
  padding-bottom: 2px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: white;
  border: 1px solid rgba(0,0,0,.125);
  margin-right: 20px;
  margin-bottom: 20px;
}

.navegador a{
  text-decoration: none;
  color: grey;
}

.navegador a:hover{
  color: #1BBB9A;
  font-weight: bold;
}

.importanteVioleta{
  color: violet;
  font-size: medium;
  font-weight: 700;
}



.atras{
  z-index: 100;
  position: absolute;
}

.adelante{
  z-index: 200;
  position: absolute;
  top: 35px;
  left: 45px;
}

.contNoFloat{
  position: relative;
  background-color: red;
}


h3{
  font-family: coolvetica;
  color: #8E44AC; 
  text-align: center;
}

.contDer h3, .contDerCentro h3{
  font-family: coolvetica;
  color: #7E8B8C;
  text-align: center;
  text-align: left;
}



.seleccionable { transition: all .2s ease-in-out; }
.seleccionable:hover { transform: scale(1.1); }

h5{
  color: white;
  font-family: montserratRegular;
  font-weight: 500;
  font-size: .8rem;
}

.titulo{
  margin-bottom: 70px;
}

.contDer a{
  text-decoration: none;
}

.contDer h1{
  color: #1BBB9A;
  font-family: coolvetica;
  font-weight: 400;
  _font-size: 85px;
  font-size: 5.2rem;
  line-height: 75%;
}

.lateralMenu{
  _background-color: #F5F1FF;
  background-color: white;
  height: 100vh;
  position: fixed;
  left: 0px;
  top: 0;
}

.lateralMain{
  background-color: #f7f7f7;
  margin-top: 54px;
  height: 89vh;
  position: absolute;
  right: 0;
  top: 0;
  overflow-y: scroll;
  padding-top: 25px;
  padding-left: 40px;
  padding-right: 40px;
}



.h2{
  color: white;
  font-family: coolvetica;
  font-weight: 400;
  _font-size: 85px;
  font-size: 5.2rem;
  line-height: 75%;
}


/* tarjeta interna */
.cardContenedor{
  border: 1px solid #1BBB9A;
  padding: 0px;
  background-color: white;
  margin-bottom: 30px;
  border-radius: .45rem;  
  -webkit-box-shadow: 5px 5px 20px 1px rgba(237,237,237,1);
  -moz-box-shadow: 5px 5px 20px 1px rgba(237,237,237,1);
  box-shadow: 5px 5px 20px 1px rgba(237,237,237,1);
  width: 32%;
}

.cardTitulo{
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #1BBB9A;
}

.cardTitulo h3{
  font-family: coolvetica;
  color: white;
  text-align: center;
  font-size: 1.5rem;
}

.cardMain{
  padding-top: 25px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
}

.cardMain p{
  font-family: montserratRegular;
  color: #7E8B8C;
  text-align: left;
  font-size: 1rem;
}

.cardMain li{
  font-family: montserratRegular;
  color: #7E8B8C;
  text-align: left;
  font-size: .85rem;
}

